<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Remember to pick the winning photo <%= @creator.username %>!!</h1>
    <p>Pick the winning photo for the contest you created!</p>
    <p><%= @contest.title %></p>
    <a href = "<%=@contest_url %>" ></a>
  </body>
</html>
