<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to CustomCam, <%= @user.username %>!!</h1>
    <p>
      Your username is: <%= @user.username %>.<br/>
      If your photo ain't have a cat init, it's probably garbage.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
