<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You won, <%= @user.username %>!!</h1>
    <p>
      Congratulations! Your submission has won a CustomCam Contest!
    </p>
    <p>
      To go to the contest: <%= @url %>.
    </p>
    <p>Time to buy a boat!</p>
  </body>
</html>
