<div class="footer">
  <p>CustomCam &bull; <a href="https://github.com/Dawenster">David</a> &bull; <a href="">Gavin</a> &bull; <a href="https://github.com/heyimkko">Kevin</a> &bull; <a href="https://github.com/jhw1202">Philip</a></p>
</div>