<div class="footer">
  <p>
    CustomCam &bull; 
    <%= link_to 'About Us', about_path %> &bull; 
    <a href="https://github.com/Dawenster">David</a> &bull; 
    <a href="https://github.com/charmcitygavin">Gavin</a> &bull; 
    <a href="https://github.com/heyimkko">Kevin</a> &bull; 
    <a href="https://github.com/jhw1202">Philip</a></p>
</div>
