@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
  font-family: 'Lato';
}

section {
  overflow: auto;
}

/* Why doesn't this work on just input, textarea, etc? */
input#question_title, textarea#question_content, textarea#answer_content {
  width: 560px;

}
textarea#answer_content {
  height: 5em;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  margin-top: 0px;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  // text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 0.8em;
}

li {
  list-style: none;
  line-height: 1em;
}

.posted_by {
  font-size: 0.8em;
  color: #a2a2a2;
}

/*contest page*/

.each-photo-submission {
  margin-bottom: 20px;
  width: 500px;
}

.photo-and-button {
  position: relative;
}

.winner-button {
  position: absolute;
  left: 165px;
}

.ribbon {
  position: absolute;
  right: -50px;
  top: -50px;
}


/* header */

#logo {
  float: left;
  margin-right: 0px;
  font-size: 2.6em;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration:none;
  }
}

#logo_text a {
  padding-top: 20px;
  padding-left: 0px;
  color: #91C46C;
  font-family: 'Sansita One';
  font-size: 3.4em;
  letter-spacing: -3px;
  text-shadow: 1px 1px 1px #000;
}

.navbar .nav > li > a {
  padding: 28px 15px 20px;
}

/* misc */

input#file {
  font-size: 1em;
  font-family: 'Lato';
  padding: 0px;
  margin-top: 10px;
  padding-left: 20px;
  line-height: 1px;
}

#input_desc {
  padding-left: 20px;
}
