@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 90px;
  font-family: 'Lato';
}

a {
  color: #91C46C;
  &:hover {
    color: #517736;
  }
}

section {
  overflow: auto;
}

/* Why doesn't this work on just input, textarea, etc? */
input#question_title, textarea#question_content, textarea#answer_content {
  width: 560px;

}
textarea#answer_content {
  height: 5em;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  a {
    color: #517736;
    &:hover {
      color: #2E441F;
    }
  }
}

h1 {
  margin-top: 0px;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  &.profile {
    margin-bottom: 0px;
  }
}

h1#center {
  text-align: center;
}


h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  /*line-height: -5px;*/
  margin-top: 0px;
  margin-bottom: 30px;
  padding-left: 10px;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 0.8em;
}

li {
  list-style: none;
  line-height: 1em;
}

li.comment {
  list-style: decimal;
}

ul.profile {
  margin-left: 0px;
}

.posted_by {
  font-size: 0.8em;
  color: #a2a2a2;
}

/*contest page*/

.each-photo-submission {
  margin-bottom: 50px;
  width: 500px;
}

.photo-and-button {
  position: relative;
}

.winner-button {
  position: absolute;
  left: 165px;
}

.ribbon {
  position: absolute;
  right: -50px;
  top: -50px;
}


/* header */

#logo {
  float: left;
  margin-top: 5px;
  margin-right: 0px;
  font-size: 2.6em;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration:none;
  }
}

#logo_text a {
  padding-top: 20px;
  padding-left: 0px;
  margin-bottom: 10px;
  color: #91C46C;
  font-family: 'Sansita One';
  font-size: 3.4em;
  letter-spacing: -3px;
  text-shadow: 1px 1px 1px #000;
}

.navbar .nav > li > a {
  padding: 45px 15px 20px;
}

/* misc */

input#file {
  font-size: 1em;
  font-family: 'Lato';
  padding: 0px;
  margin-top: 10px;
  padding-left: 20px;
  line-height: 1px;
}

.rating-cancel {
    margin: -10px;
  padding: -10px;
}

.desc_box {
  width: 380px;
}


input[type=submit] {
    
    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    
    background-color:#74ad5a;
    
    border:1px solid #3b6e22;
    display:inline-block;
    color:#ffffff;
    font-family: 'PT Sans';
    font-size:16px;
    text-shadow: -1px -1px #68a54b;
    padding:6px 12px;
    text-decoration:none;
    
}
input[type=submit]:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
    
    background-color:#68a54b;
}
input[type=submit]:active {
    position:relative;
    top:1px;
}

