.category_list
  margin-bottom: 32px
  li
    display: inline
    font-size: 16px
    padding: 0
  a
    padding: 8px
  a:hover
    background-color: #cccccc
    border-radius: 4px
    text-decoration: none