img.lp {
  border: 1px solid #000;
}

h1.lp {
  font-family: 'Fugaz One';
  font-size: 3.2em;
  letter-spacing: -2px;
  color: #517736;
  text-shadow: 2px 2px 2px #222;
  margin-bottom: 10px;
}

h2.lp {
  margin-bottom: 10px;
}

p.lp {
  padding: 18px;
  padding-bottom: 5px;
  font-size: 16px;
  font-family: 'Lato';
  line-height: 20px;
}

#lpcenter {
  text-align: center;
  margin: auto;
}

h6 {
  text-align: center;
  margin: 0px auto;
  font-size: 0.7em;
  color: #acacac;
}

div.vp {
  margin: 0px auto;
  margin-top: 10px;
  padding: 20px;
  width: 900px;
  border: 1px solid #517736;
  border-radius: 10px;
  background-color: #A7C394;
}

h1.vp {
  text-align: center;
}

ul.vp {
  padding-left: 200px;
  margin-left: 0px;
  li {
  font-size: 18px;
  list-style: none;
  line-height: 36px;
  }
}

#numvp {
  font-size: 24px;
  font-color: #2E441F;
  font-family: 'Lato';
}

h2.vp2 {
  margin-top: 24px;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
}

h1.vp3 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0px;
}

h2.vp3 {
  text-align: center;
}

#green {
  color: #2E441F;
}

ul.vp li.vp3 {
  list-style: disc;
}
