<h1>Browse All Categories</h1>
<ul class="category_list">
  <% @categories.each do |category| %>
    <li><%= link_to category.title, category %></li>
  <% end %>
</ul>

<h3>Most Recent Image:</h3>
<%= image_tag Photo.last.url if Photo.last, :class => "center" %>
