<h1>Category: <%= @category.title %></h1>

<div class="category_list_wrapper">
  <% @category.contests.reverse.each do |contest| %>
    <ul>
      <li><h3><%= link_to contest.title, contest %></h3></li>
      <li><span class="bounty">Bounty: $<%= contest.price %></span></li>
      <li>Posted by: <%= User.find(contest.creator_id).username %></li>
    </ul>
  <% end %>
</div>